// Variables etc

$white: #ffffff;
$softBlack: #101010;
$black: #000000;
$orange: #ff6600;
$red: #f11e22;
$grey: #626262;


.blackBG {
  background-color: $black;
}



// --------------Fonts

$heading-font:sans-serif;
$base-font: sans-serif;
$base-font-bold:  sans-serif;
$trade-heading-font: sans-serif;


h1, h2, h3, h4 {
  font-family: $heading-font;
  text-transform: uppercase;
  margin: 0px;
}

h3 {
  font-family: $trade-heading-font;
}

h4 {
  font-family: sans-serif;
}


p {
  font-family: $base-font;
}

p {
  font-size: 1.4rem;
  line-height: 2.4rem;
}

h1 {
  font-size: 8rem;
  line-height: 8.5rem;
}

h2 {
  font-size: 5rem;
  line-height: 5.5rem;
}

h3 {
  letter-spacing: 0.5rem;
  font-size: 2rem;
  line-height: 2.4rem;
}

h4 {
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.3rem;
}


a {
  &:hover {
    cursor: pointer;
  }
}



@media (min-width: 768px) {
  h3 {
    letter-spacing: 1.1rem;
    font-size: 3.2rem;
    line-height: 3.5rem;
  }
}



@media (min-width: 992px) {
  p {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }

  h3 {
    letter-spacing: 1.1rem;
    font-size: 3.7rem;
    line-height: 4rem;
  }

}

@media (min-width: 1200px) {

}


//---------------forms

